<!-- <div class="bg-blue-700 text-white">Bismillah</div> -->

<div>
  <button fzBtn variant="primary" size="xs" (click-outside)="handleClick()">Test Button</button>
  <button fzBtn variant="primary" size="sm">Test Button</button>
  <button fzBtn variant="primary" size="md">Test Button</button>
  <button fzBtn variant="primary" size="lg">Test Button</button>
  <button fzBtn variant="primary" size="xl">Test Button</button>
</div>

<div>
  <button fzBtn variant="secondary" size="xs">Test Button</button>
  <button fzBtn variant="secondary" size="sm">Test Button</button>
  <button fzBtn variant="secondary" size="md">Test Button</button>
  <button fzBtn variant="secondary" size="lg">Test Button</button>
  <button fzBtn variant="secondary" size="xl">Test Button</button>
</div>
<div>
  <button fzBtn variant="outline" size="xs">Test Button</button>
  <button fzBtn variant="outline" size="sm">Test Button</button>
  <button fzBtn variant="outline" size="md">Test Button</button>
  <button fzBtn variant="outline" size="lg">Test Button</button>
  <button fzBtn variant="outline" size="xl">Test Button</button>
</div>
<div>
  <button fzBtn variant="primary" size="xs" [rounded]="true">Test Button</button>
  <button fzBtn variant="primary" size="sm" [rounded]="true">Test Button</button>
  <button fzBtn variant="primary" size="md" [rounded]="true">Test Button</button>
  <button fzBtn variant="primary" size="lg" [rounded]="true">Test Button</button>
  <button fzBtn variant="primary" size="xl" [rounded]="true">Test Button</button>
</div>

<!-- <input #inputRef type="text" />
<input #inputRef />

<button (click)="makeFocus()">Focus</button>

<app-display [frequency]="500"></app-display>
<app-display [frequency]="1000"></app-display> -->

<!-- <app-date-picker [date]="currDate" (change)="currDate = $event"></app-date-picker> -->
