<!-- <div class="bg-blue-700 text-white">Bismillah</div> -->

<!-- <app-two-way-binding [(value)]="val"></app-two-way-binding> -->

<ng-template #header>Header Here</ng-template>
<ng-template #footer let-pageNo="page">Footer Here - {{pageNo}}</ng-template>

<app-slot-box [header]="header" [footer]="footer">
  <p>Content here</p>
</app-slot-box>

<!-- <div>
  <button fzBtn variant="primary" size="xs" (click-outside)="handleClick()">Test Button</button>
  <button fzBtn variant="primary" size="sm" (click)="showDialog = true">Test Button</button>
  <button fzBtn variant="primary" size="md">Test Button</button>
  <button fzBtn variant="primary" size="lg">Test Button</button>
  <button fzBtn variant="primary" size="xl">Test Button</button>
</div>

<div>
  <button fzBtn variant="secondary" size="xs">Test Button</button>
  <button fzBtn variant="secondary" size="sm">Test Button</button>
  <button fzBtn variant="secondary" size="md">Test Button</button>
  <button fzBtn variant="secondary" size="lg">Test Button</button>
  <button fzBtn variant="secondary" size="xl">Test Button</button>
</div>
<div>
  <button fzBtn variant="outline" size="xs">Test Button</button>
  <button fzBtn variant="outline" size="sm">Test Button</button>
  <button fzBtn variant="outline" size="md">Test Button</button>
  <button fzBtn variant="outline" size="lg">Test Button</button>
  <button fzBtn variant="outline" size="xl">Test Button</button>
</div>
<div>
  <button fzBtn variant="primary" size="xs" [rounded]="true">Test Button</button>
  <button fzBtn variant="primary" size="sm" [rounded]="true">Test Button</button>
  <button fzBtn variant="primary" size="md" [rounded]="true">Test Button</button>
  <button fzBtn variant="primary" size="lg" [rounded]="true">Test Button</button>
  <button fzBtn variant="primary" size="xl" [rounded]="true">Test Button</button>
</div> -->
<!--
<fz-dialog [visible]="showDialog" (close)="hideDialog()">
  <div>
    <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-green-100">
      <svg class="h-6 w-6 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
      </svg>
    </div>
    <div class="mt-3 text-center sm:mt-5">
      <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
        Payment successful
      </h3>
      <div class="mt-2">
        <p class="text-sm text-gray-500">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur amet labore.
        </p>
      </div>
    </div>
  </div>
  <div class="mt-5 sm:mt-6">
    <button type="button" (click)="showDialog = false"
      class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm">
      Go back to dashboard
    </button>
  </div>
</fz-dialog> -->

<!-- <input #inputRef type="text" />
<input #inputRef />

<button (click)="makeFocus()">Focus</button>

<app-display [frequency]="500"></app-display>
<app-display [frequency]="1000"></app-display> -->

<!-- <app-date-picker [date]="currDate" (change)="currDate = $event"></app-date-picker> -->
